.titulo {

    color: hotpink;
    width: 310px;
    height: 50px;
    background-color: teal;   
}

#selec-masc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}